<div class="btn-group">
  <button class="btn" (click)="toggleCities()">
    <ng-container *ngIf="!selectedCity">
      <clr-icon shape="map-marker"></clr-icon>
      Ville
    </ng-container>
    <ng-container *ngIf="selectedCity">
      <clr-icon [attr.shape]="selectedCity.icon"></clr-icon>
      {{selectedCity.name}}
    </ng-container>
  </button>

  <div>
    <div class="menu">
      <clr-icon shape="map-marker" class="mr-1"></clr-icon>
      Ville
    </div>
  </div>

  <select clrSelect name="city" [(ngModel)]="filterInternal.city" (ngModelChange)="filter.emit(filterInternal)">
    <option value="one">Paris</option>
    <option value="two">Grenoble</option>
  </select>

  <div>Filtrer par catégorie</div>

  <select clrSelect name="category" [(ngModel)]="filterInternal.category" (ngModelChange)="filter.emit(filterInternal)">
    <option value="santé">Santé</option>
    <option value="logement">Logement</option>
    <option value="transport">Transport</option>
    <option value="alimentation">Alimentation</option>
    <option value="">Sorties</option>
    <option value="two">Scolaire</option>
  </select>
</div>


<div class="btn-group">
  <button class="btn">
    <clr-icon shape="map-marker"></clr-icon>
    Ville
  </button>

