<div class="btn-group">
  <button class="btn" (click)="toggleCities()">
    <clr-icon shape="map-marker"></clr-icon>
    Ville
  </button>


  <button class="btn" (click)="toggleCategory()">
    <clr-icon shape="car"></clr-icon>
    Catégorie
  </button>
</div>


<section class="main-menu">

  <div class="menu menu1" *ngIf="showMenuCities">
    <div class="item" *ngFor="let city of cities">
      <clr-icon [attr.shape]="city.icon" class="mr-1"></clr-icon>
      {{city.name}}</div>
  </div>
  <div class="menu menu2" *ngIf="showMenuCategory">
    <div class="item" *ngFor="let category of categories">
      <clr-icon [attr.shape]="category.icon" class="mr-1"></clr-icon>
      {{category.name}}</div>
  </div>
</section>

