<div class="main" fxLayout="column" fxLayoutAlign="stretch center">
  <h1 class="mb-8 text-center">Bienvenue Jake,<br/>
    prêt pour la chasse aux bons plans ?</h1>
  <h3>Les inmanquables pour démarrer</h3>

  <clr-accordion>
    <clr-accordion-panel>
      <clr-accordion-title fxLayoutAlign="stretch center">
        <clr-icon shape="heart" class="mr-1"></clr-icon>
        Tu as les aides au logement ?
      </clr-accordion-title>
      <clr-accordion-content *clrIfExpanded>
        <ng-content *ngTemplateOutlet="cards"></ng-content>
      </clr-accordion-content>
    </clr-accordion-panel>

    <clr-accordion-panel>
      <clr-accordion-title fxLayoutAlign="stretch center">
        <clr-icon shape="bank" class="mr-1"></clr-icon>
        Envie d'une bourse pour tes études ?
      </clr-accordion-title>
      <clr-accordion-content *clrIfExpanded>
        <div fxLayout="row" fxLayoutGap="20px" class="my-3">
          <app-good-plan [mini]="true"  [plan]="plan" *ngFor="let plan of plans2"></app-good-plan>
        </div>
      </clr-accordion-content>
    </clr-accordion-panel>

    <clr-accordion-panel>
      <clr-accordion-title fxLayoutAlign="stretch center">
        <clr-icon shape="car" class="mr-1"></clr-icon>
        Tu voyages en train ? En covoiturage ?
      </clr-accordion-title>
      <clr-accordion-content *clrIfExpanded>
        <div fxLayout="row" fxLayoutGap="20px" class="my-3">
          <app-good-plan [mini]="true"  [plan]="plan" *ngFor="let plan of plans3"></app-good-plan>
        </div>
      </clr-accordion-content>
    </clr-accordion-panel>
  </clr-accordion>

  <h3>Les bons plans du moment</h3>

  <div fxLayout.gt-xs="row" fxLayoutGap="20px">
    <app-good-plan [mini]="true" [plan]="plan" *ngFor="let plan of plans4"></app-good-plan>
  </div>
</div>

<ng-template #cards>
  <div fxLayout="row" fxLayoutGap="20px" class="my-3">
    <app-good-plan [mini]="true"  [plan]="plan" *ngFor="let plan of plans"></app-good-plan>
  </div>
</ng-template>
