.panel {
  height: 500px;
}

.right {
  max-width: 450px;
}

.card-review {
  background: none;
  border: none;
}

:host ::ng-deep .clr-control-container {
  display: block;
  textarea {
    width: 100%;
  }
}
