<div class="card">
  <div class="card-header text-center">
    La carte jeune
  </div>
  <div class="card-block">
    <div class="card-media-block">
      <img class="card-media-image">
      <div class="card-media-description">
        <span class="card-media-text">
          <clr-icon shape="clock"></clr-icon>
          Inscrit en 20 mins
                        </span>
        <div fxLayout="row" fxLayoutAlign="stretch center">
          <clr-icon shape="star"></clr-icon>
          <clr-icon shape="star"></clr-icon>
          <clr-icon shape="star"></clr-icon>
          <clr-icon shape="star"></clr-icon>
          <span class="ml-1">23 avis</span>
        </div>
      </div>
    </div>

    <div class="card-text">
      <div>La carte jeune te permet d'économiser 50% sur les trajets de train SNCF.</div>
    </div>
  </div>

  <div class="card-block">
    <div class="card-title">
      Conditions d'obtention
    </div>
    <div class="card-text">

      <span class="label label-info">- de 25 ans</span>
      <span class="label label-success">Pas de condtion de ressources</span>
    </div>
  </div>

  <div class="card-footer">
    <button class="btn btn-sm btn-link">ça m'intéresse</button>
  </div>
</div>
