<div fxLayoutAlign="stretch center" fxLayout="column" class="main">

  <h1 class="title">La problématique</h1>


  <p>
    Les étudiant·e·s en situation de précarité demeurent (trop) longtemps « novices » dans la connaissance de leurs
    droits, des possibilités d’aide et des solutions de débrouille.
  </p>


  <p>Les aider dans ces tâches leur augmenterait le pouvoir d'achat et leur faciliterait la vie au <b>quotidien</b>.</p>
  <p>Nous pensons que le <b>manque de clarté</b> et la <b>lenteur de ces démarches</b> en sont la cause principale.</p>
  <h2>Notre vision</h2>
  <p>Nous souhaitons que chaque étudiant puisse accéder en <b>2 minutes</b> aux <b>bons plans de son université, ville
    ou région</b>.
  </p>
  <p>Avec des explications simples de <b>2 minutes</b>, tu comprends en un clin d'oeil ce que tu dois faire pour
    bénéficier de ces bons plans.</p>


  <h1>Business model</h1>
  <p>Il serait possible d'envisager une rémunération avec un "Bon plan" <b>sponsorisé</b> par une société qui souhaite
    promouvoir un événement ou une réduction spéciale.</p>

  <h2>Technologies et appuis utilisés pour ce projet</h2>
  <p>Angular, Clarity Design, Lumen, Github</p>
  <p class="mt-8">Made with
    <clr-icon shape="heart"></clr-icon>
    by Mathrix Team
  </p>
</div>





