<div class="background">

  <div class="full" fxLayout="column" fxLayoutAlign="space-around center">
    <h1>
      {{steps[index].question}}
    </h1>
    <div *ngIf="!finished">
      <form class="clr-form clr-form-compact">
        <clr-input-container>
          <label>
            <input clrInput type="text" [(ngModel)]="model[steps[index].field]" name="example"/>
          </label>
        </clr-input-container>
      </form>
    </div>

    <button class="btn btn-block btn-success"
            (click)="next()">{{finished ? 'Continuer' : 'Suivant'}}</button>
  </div>
</div>
