<div class="clr-col-6 clr-align-content-center">
  <div class="card" (click)="openPopup()">
    <div class="card-header">
      Bon plan du jour
    </div>
    <div class="card-block">
      <div class="card-media-block">
        <div class="card-media-description">
                        <span class="card-media-title">
                            Ceci est un plan
                        </span>
          <span class="card-media-text">
                          Ceci est un truc
                        </span>
        </div>
      </div>
      <div class="card-text">
        Résumé du plan
      </div>
    </div>
    <div class="card-footer">
      <a class="btn btn-sm btn-link" [routerLink]="['/bon-plan/1']">Accéder</a>
    </div>
  </div>
</div>


<clr-modal [(clrModalOpen)]="opened" [clrModalSize]="'xl'">
<div class="modal-body">
  <app-good-plan></app-good-plan>
</div>


  <div class="modal-footer">
    <button type="button" class="btn btn-outline" (click)="opened = false">Cancel</button>
    <button type="button" class="btn btn-primary" (click)="opened = false">Ok</button>
  </div>
</clr-modal>
