@import "../variables";

@mixin margin($i) {
  margin: $i*$base-dp !important;
}

@mixin margin-top($i) {
  margin-top: $i*$base-dp !important;
}

@mixin margin-bottom($i) {
  margin-bottom: $i*$base-dp !important;
}

@mixin margin-left($i) {
  margin-left: $i*$base-dp !important;
}

@mixin margin-right($i) {
  margin-right: $i*$base-dp !important;
}

@mixin margin-y($i) {
  @include margin-top($i);
  @include margin-bottom($i);
}

@mixin margin-x($i) {
  @include margin-left($i);
  @include margin-right($i);
}

@mixin margin-auto {
  margin: auto;
}

@mixin margin-x-auto {
  margin-left: auto;
  margin-right: auto;
}

@mixin margin-y-auto {
  margin-top: auto;
  margin-bottom: auto;
}
