/* You can add global styles to this file, and also import other style files */

@import "./styles/scss/classes/padding.classes";
@import "./styles/scss/classes/margin.classes";

.text-center {
  text-align: center;
}

.main {
  max-width: 800px;
  margin: auto;
}
