.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.d-block {
  display: block;
}

.cursor-pointer {
  cursor: pointer;
}

.pos-relative {
  position: relative;
}

.w-100 {
  width: 100%;
}

.background-none {
  background: none!important; // needed
}
